.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;

  .leftside {
    width: 33%;
    padding: 2rem;

    border-right: 2px solid rgba(92, 91, 91, 1);

    &__questions {
      padding: .3rem;
      margin-top: 2rem;

      &__item {
        margin: 1rem;
        display: flex;
        align-items: center;

        .icon {
          position: relative;
          margin-left: 1rem;
          top: 4px;
          cursor: pointer;

          :hover {
            color: rgb(199, 14, 14);
          }
        }
      }

    }

    &__buttom {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      margin-top: 2rem;

      .usedAnswer{
        color: green;
      }
      .limit{
        color: red;
      }
    }

    .MuiTextField-root {
      width: 90%;
    }
  }

  .middleside {
    @extend .leftside;

    &__vote-container {
      display: flex;
      flex-direction: column;


      &__radios {
        margin: 3rem 0
      }

      &__btn {}

    }
  }

  .rightside {
    @extend .leftside;
    border: none;

    &__slider {
      margin-top: 2rem;
      height: 400px;
    }

    .MuiSlider-valueLabel {
      color: green;
      left: -12px;
    }

    .MuiSlider-vertical {
      color: rgb(41, 36, 36);
    }
  }

}